@font-face {
    font-family: "Proxima Nova Rg", sans-serif;
    src: url(fonts/ProximaNovaBold.otf);
    font-weight: bold;
}
.footer_link {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 11px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
.footer_link p {
    padding: 10px 0 5px 0;
}

header {
    text-align: center;
}

.black_logo, .gradient_logo {
    padding: 20px 0 40px 0;
}
/*Logo animation */
.black_logo {
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 100;
    transition-duration: 0.96s;
    -webkit-transition-duration: 0.96s;
    -moz-transition-duration: 0.96s;
    -o-transition-duration: 0.96s;
}

.black_logo:hover {
    opacity: 0.00;
}

div.logo_home {
    display: inline-block;
    background: no-repeat center center;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    overflow: hidden;
}

.li_container figcaption {
    position: absolute;
    height: 88.7%;
    width: 88.7%;
    padding: 20px;
    background: #A4EEFF;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}

 figure:hover figcaption {
     opacity: 1;
    -webkit-transform: translate(20px, 20px);
    -moz-transform: translate(20px, 20px);
    -ms-transform: translate(20px, 20px);
    transform: translate(20px, 20px);
}

figure {
    margin: 0;
    position: relative;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
}

figcaption {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top right, #E0532F, #33C4DE);
}

figcaption a {
    width: 100%;
    height: 100%;
    border: none;
    color: #FF6C00;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Proxima Nova Rg", sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 1px;
    font-weight: 600;

}

figcaption a:hover {
    color: #FFA043;
    border: none;
}

.project_name {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 479px) {
    li {
        padding: 35px;
        width: 100%;
    }

    .black_logo, .gradient_logo {
        padding: 20px 0 30px 0;
        height: 60px;
        width: 60px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
    li {
        width: 40%;
        padding: 5%;
    }
    figcaption a {
        font-size: 1em;
    }
    .black_logo, .gradient_logo {
        padding: 20px 0 40px 0;
        height: 55px;
        width: 55px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 769px){
    li {
        width: 30%;
        padding: 1.7% 1.666%;
    }
}